/.Build.stamp
/.project
/.cproject
CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
include/ezsp/config.h
src/ezsp/Makefile
src/spi/Makefile
tests/Makefile
example/Makefile
src/spi/libezspspi.so
src/ezsp/libezsp.so
example/mainEzspTest
/version.h
*.o
*.a
/doc
